@font-face {
  font-family: "unispace";
  src: url("unispace bd.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@media screen {
  /* to be continued */
}

/*
.transition-fade {
  opacity: 1;
  transition: 1000ms;
  transform:translateX(0);
  transform-origin: right;
}


html.is-animating .transition-fade {
  opacity:1;
  transform: translateX(100%)
}

html.is-leaving .transition-fade {
  opacity:0;
}
*/

body {
  font-family: "unispace", sans-serif;
  overflow-x: hidden;
  background-color: transparent;
  font-size: 0.75em;
  color: white;

}


@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}


#background-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 0%;
  min-height: 0%;
  width: 100%;
}