* {
  box-sizing: border-box;
}
#TESTINGTESTTESTING {
  margin-top:2000px;
}

.content {
  width:100%;
}

input, button {
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}


input:hover {
  background-color: #f0003d;
  border-radius: 1.7px;
}

button:hover {
  background-color: black;
  color: white;
  transform: scale(1.1);
}

/* Revert back to the original styles when not hovered */
input:not(:hover), button:not(:hover) {
  background-color: transparent;
  color: #ddd;
  transform: scale(1);
}


.login {
  margin-top: 100px;
  width: 90%;
  position: relative;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0.3) 100%);
  padding: 5px;
  border-radius: 2px;
  box-shadow: 0px 5px 8px -3px rgba(0, 0, 0, 0.7);
}

.login .choice {
  position: relative;
  display: flex;
  padding: 80px 0;
}

.login .choice .signIn,
.login .choice .signUp {
  padding: 0 40px;
  flex: 1;
  color: #ddd;
}

.login .choice .signIn h2,
.login .choice .signUp h2 {
  font-weight: 300;
  font-size: 25px;
  width: 80%;
  margin: 0;
  line-height: 1.2;
}

.login .choice .signIn p,
.login .choice .signUp p {
  font-weight: 100;
  font-size: 13px;
}

.login .choice .signIn button,
.login .choice .signUp button {
  background: transparent;
  border: 1px solid #aaa;
  border-radius: 3px;
  color: #ddd;
  font-size: 13px;
  padding: 5px 20px;
  outline: none;
  cursor: pointer;
  margin-top: 8px;
}

.login .form[data-choice="1"] .signUp {
  position: absolute;
  visibility: visible;
  z-index: 3;
  left: 10px;
  box-shadow: 20px 0px 50px 0px rgba(0, 0, 0, 0.3);
}

.login .form[data-choice="2"] .signIn {
  position: absolute;
  visibility: visible;
  z-index: 3;
  left: calc(50% - 20px);
  box-shadow: -20px 0px 50px 0px rgba(0, 0, 0, 0.3);
}

.login .form .signIn,
.login .form .signUp {
  position: absolute;
  visibility: hidden;
  z-index: 1;
  left: calc(50% - 20px);
  top: -20px;
  width: calc(50% + 10px);
  height: calc(100% + 40px);
  background: #fff;
  border-radius: 3px;
  padding: 20px 40px;
  transition: 0.5s cubic-bezier(0.74, 1.7, 0.57, 0.81);
}

.login .form .signIn {
  left: 10px;
}

.login .form h2 {
  color: #f0003d;
  font-weight: 400;
}

.login .form input {
  border: 0;
  border-bottom: 2px solid #f0003d;
  width: 100%;
  font-size: 13px;
  color: #333;
  padding: 5px 0;
  margin: 10px 0;
  outline: none;
}

.login .form input::placeholder {
  color: #000000;
}

.login .form button {
  background: #f0003d;
  border: 0;
  color: #080808;
  padding: 5px 20px;
  border-radius: 3px;
  float: right;
  margin-top: 40px;
  outline: none;
  cursor: pointer;
}

.login .form a {
  float: left;
  margin-top: 43px;
  color: #555;
  font-size: 13px;
}
