@font-face {
    font-family: "unispace";
    src: url("unispace bd.woff") format("woff");
    font-weight: bold;
    font-style: normal;
  }
  

body {
    font-family: "unispace", sans-serif;
    overflow-x: hidden; /* Hide horizontal scrollbar */
    background-color: transparent;
    font-size: 0.75em;
    color: white;
  }

.main-app {
    z-index: 1;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    word-spacing: 2px;
    left: 50%;
    transform: translateX(-50%);
    width:95%;
    height:95%;
}

#background-video {
    z-index: 0;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 0%;
    min-height: 0%;
    width: 200vh;
    height:100%;
    transform:rotate(90deg);
    margin-right: -150%;
}

#video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.plus-sign {
    font-size: 48px;
    color: #f0003d;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.camera-container {
    width: 512px;
    height: 512px;
    overflow: hidden;
    position: relative;
    border: 2px solid #f0003d;
    border-radius: 2%;
    box-sizing: border-box;
    display: block;margin: 0 auto;
}

textarea {
    width: 97%;
    height: 10%;
    margin-bottom: 10px;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #404040;
    color: white;
    resize: none;
}

textarea:hover {
    background-color: #2c2c2c;
    transition: background-color 0.2s ease-in-out;
}


.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 95%;
    height: 8px;
    border-radius: 5px;
    background: #ddd;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    display: block;margin: 0 auto;

}

.slider:hover {
    opacity: 1;
    background: #f0003d;
}

.slider::-webkit-slider-thumb:hover {
    background-color: #f1f1f1;
    -webkit-transition: 0.4s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 10%;
    background: #f0003d;
    cursor: pointer;
}

#slider-value {
    color:white;
}

#analyze-button {
    margin-top: 70px;
    height: 170px;
    width: 700px;
    color: white;
    background-color: #f0003d;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
    display: block;margin: 0 auto;
}

#analyze-button:before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 10%;
    background-color: rgba(255, 255, 255, 0.2);
    transform: translate(-50%, -50%) rotate(45deg);
    transition: all 0.4s ease;
    opacity: 0;
}

#analyze-button:hover {
    background-color: #f0003d;
    color: white;
    transform: scale(1.05);
}

#analyze-button:hover:before {
    opacity: 1;
}

#analyze-button:active {
    background-color: #050505;
    color: #f0003d;
    transform: scale(0.95);
}

#analyze-button:active:before {
    opacity: 0;
}
