@font-face {
    font-family: "unispace";
    src: url("main/unispace bd.woff") format("woff");
    font-weight: bold;
    font-style: normal;
  }
  
  body {
    font-family: "unispace", sans-serif;
    overflow-x: hidden; /* Hide horizontal scrollbar */
    background-color: transparent;
    font-size: 0.50em;
    color: white;
    margin: 0;
    padding: 0;
  }
  
  .main-app {
    z-index: 1;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    word-spacing: 2px;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    height: 95%;
  }
  
  #background-video {
    pointer-events: none; /* Disables click and touch events */
    z-index: 0;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 0;
    min-height: 0;
    width: 300vw;
    height: 100vh;
    transform: rotate(90deg);
    margin-right: -100%;
  }
  
  #video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .plus-sign {
    font-size: 6vw;
    color: #f0003d;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .camera-container {
    width: 70%;
    height: 70%;
    max-width: 512px;
    max-height: 512px;
    overflow: hidden;
    position: relative;
    border: 2px solid #f0003d;
    border-radius: 2%;
    box-sizing: border-box;
    margin: 0 auto;
  }
  
  textarea {
    width: 93%;
    height: 10%;
    margin-bottom: 10px;
    font-size: 2vw;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #404040;
    color: white;
    resize: none;
  }
  
  textarea:hover {
    background-color: #2c2c2c;
    transition: background-color 0.2s ease-in-out;
  }
  
  .slider {
    -webkit-appearance: none;
    appearance: none;
    width: 95%;
    height: 1vw;
    max-width: 512px;
    border-radius: 5px;
    background: #ddd;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    margin: 0 auto;
    display: block;margin: 0 auto;
  }
  
  
  .slider::-webkit-slider-thumb:hover {
    background-color: #000000;
    -webkit-transition: 0.4s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 3vw;
    height: 3vw;
    max-width: 20px;
    max-height: 20px;
    border-radius: 10%;
    background: #f0003d;
    cursor: pointer;
  }
  
  #slider-value {
    color: rgb(255, 255, 255);
    font-size: 1vw;
  }
  
  #analyze-button {
    margin-top: 7vw;
    height: 17vw;
    max-width: 700px;
    color: white;
    background-color: #f0003d;
    border: none;
    border-radius: 8px;
    font-size: 1.8vw;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
    display: block;
    margin: 0 auto;
  }
  
  #analyze-button:before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 10%;
    background-color: rgba(255, 255, 255, 0.2);
    transform: translate(-50%, -50%) rotate(45deg);
    transition: all 0.4s ease;
    opacity: 0;
  }
  
  #analyze-button:hover {
    background-color: #f0003d;
    color: white;
    transform: scale(1.05);
  }
  
  #analyze-button:hover:before {
    opacity: 1;
  }
  
  #analyze-button:active {
    background-color: #050505;
    color: #f0003d;
    transform: scale(0.95);
  }
  
  #analyze-button:active:before {
    opacity: 0;
  }
  
  /* Additional styles for responsiveness */
  
  @media only screen and (max-width: 600px) {
  
    textarea {
      font-size: 3vw;
    }
  
    .slider {
      height: 2vw;
    }
  
    #slider-value {
      font-size: 3vw;
    }
  
    #analyze-button {
      margin-top: 7vw;
      height: 17vw;
      max-width: 90%;
      font-size: 3vw;
    }
  }
  
  
